$h6-font-size:  1em;
$h5-font-size: 1.25em;
$h1-font-size: 3em;

$orange: rgb(255, 145, 77);
$warning : $orange;

$gray-100 : rgb(139, 142, 144);
$blue: rgb(11, 72, 107);
$spacer: 2rem;
@import "node_modules/bootstrap/scss/bootstrap";


/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Condensed&display=swap');

 #objectif{
  font-family: 'Roboto Condensed', sans-serif;
 }
 h1{
  font-family: 'Roboto Condensed', sans-serif;
 }
 #coordonnees{
  font-family: 'Open Sans', sans-serif;
 }

 #linkedin{
   opacity: 0.6;
 }
 #f1{
  font-family: 'Open Sans', sans-serif;
 }
 #f2{
  font-family: 'Open Sans', sans-serif;
 }
h2::after{
  content:" ";
  border-top: 1px solid rgb(255, 255, 255);
  display: block;
  width: 13%;
  margin-left: 2%;
  margin-top: 2%;
}
li{
  font-family: 'Open Sans', sans-serif;
}
#photo_profil{
  width: 19%;
 }

 #f3{
  font-family: 'Open Sans', sans-serif;
 }

 #EP1{
  font-family: 'Roboto Condensed', sans-serif;
 }
 #EP2{
  font-family: 'Roboto Condensed', sans-serif;
 }
 #EP3{
  font-family: 'Roboto Condensed', sans-serif;
 }
 #EP4{
  font-family: 'Roboto Condensed', sans-serif;
 }
 #EP5{
  font-family: 'Roboto Condensed', sans-serif;
 }

 #body {
     width: 75%;
 }
 @media screen and (min-width: 300px) and (max-width: 500px){
  #body{
      width: 100% !important;
      border-color :  white !important;
      padding-right: 0% !important;
      margin: 0 !important;
  }
  #linkedin{
   width: 20px !important;
 }
 #conteneur_photo_profil{
   padding-top: 0% !important;
   width: 100% !important;
 }
  #photo_profil{
    width: 100% !important;
  }
 #objectif{
   font-size: 1.8em !important;
   letter-spacing: 0.1em;
   padding-left: 0% !important;
 }
 #coordonnees{
   font-size: 1.03em !important;
 }
 #prenom{
   font-size: 1.4em !important;
 }
 #ligne{
   font-size: 1.5em !important;
 }
 #conteneur_information{
   width: 100% !important;
 }
 #f1{
   font-size: 1.5em !important;
 }
 #f2{
   font-size: 1.5em !important;
 }
 #f3{
   font-size: 1.5em !important;
 }
 #competences{
   font-size: 1.2em !important;
   margin-left: -0.5rem;
 }
 #formation{
   font-size: 1.2em !important;
 }
 #experience_professionnelle{
   font-size: 1.2em !important;
 }
 #bloc2{
   margin-top: 0% !important;
   display: flex !important;
   flex-wrap: wrap-reverse !important;
 }
 #bloc3{
   font-size: 0.7em !important;
   width: 100% !important;
 }
 #bloc4{
  font-size: 0.7em !important;
  width: 100% !important;
 }
 #section_backend{
   padding-bottom: 0.8rem !important;
   padding-top: 0.5rem !important;
 }
 #section_qualite{
   padding-top: 0.5rem !important;
 }
 #section_logiciels{
   padding-top: 0.5rem !important;
 }

}
 @media screen and (max-width: 1023px){
   #body{
     width: 100%;
     margin-left: 0% !important;
   }
 }
 @media screen and (min-width: 1023px){
  #photo_profil{
    position: absolute;
    width: 19%;
   }
}
 @media screen and (min-width: 767px) and (max-width: 1023px){
     #body{
         width: 100%;
     }
     #linkedin{
      width: 20px !important;
    }
     #photo_profil{
      width: 22%;
     }
    #objectif{
      font-size: 1.8em !important;
      letter-spacing: 0.1em;
    }
    #coordonnees{
      font-size: 1.03em !important;
    }
    a{
      width: 10px;
    }
    #prenom{
      font-size: 1.4em !important;
    }
    #ligne{
      font-size: 1.5em !important;
    }
    #f1{
      font-size: 1.3em !important;
    }
    #f2{
      font-size: 1.3em !important;
    }
    #f3{
      font-size: 1.3em !important;
    }
    #competences{
      font-size: 0.7em !important;
      margin-left: -0.5rem;
    }
    #formation{
      font-size: 0.7em !important;
    }
    #experience_professionnelle{
      font-size: 0.7em !important;
    }
    #bloc3{
      font-size: 0.7em !important;
    }
    #section_backend{
      padding-bottom: 0.8rem !important;
      padding-top: 0.5rem !important;
    }
    #section_qualite{
      padding-top: 0.5rem !important;
    }
    #section_logiciels{
      padding-top: 0.5rem !important;
    }
  
  }
 
 @media screen and (min-width: 1023px) and (max-width: 1200px){
  #photo_profil{
    width: 15%;
   }
  #objectif{
    font-size: 1.6em !important;
    letter-spacing: 0.1em !important;
  }
  #coordonnees{
    font-size: 1.03em !important;
  }
  #linkedin{
    width: 20px !important;
  }
  #prenom{
    font-size: 1.3em !important;
  }
  #ligne{
    font-size: 1.5em !important;
  }
  #f1{
    font-size: 1.3em !important;
  }
  #f2{
    font-size: 1.3em !important;
  }
  #f3{
    font-size: 1.3em !important;
  }
  #competences{
    font-size: 0.7em !important;
    margin-left: -0.5rem;
  }
  #formation{
    font-size: 0.7em !important;
  }
  #experience_professionnelle{
    font-size: 0.7em !important;
  }
  #bloc3{
    font-size: 0.7em !important;
  }
  #section_backend{
    padding-bottom: 0.8rem !important;
    padding-top: 0.5rem !important;
  }
  #section_qualite{
    padding-top: 0.5rem !important;
  }
  #section_logiciels{
    padding-top: 0.5rem !important;
  }

}

@media screen and (min-width: 1200px) and (max-width: 1400px){
  #photo_profil{
    width: 17%;
   }
  #objectif{
    font-size: 2.1em !important;
    letter-spacing: 0.1em;
  }
  #coordonnees{
    font-size: 1.33em !important;
  }
  #prenom{
    font-size: 1.8em !important;
  }
  #ligne{
    font-size: 1.5em !important;
  }
  #f1{
    font-size: 1.5em !important;
  }
  #f2{
    font-size: 1.5em !important;
  }
  #f3{
    font-size: 1.5em !important;
  }
  #competences{
    font-size: 0.9em !important;
    margin-left: -0.5rem;
  }
  #formation{
    font-size: 0.9em !important;
  }
  #experience_professionnelle{
    font-size: 0.9em !important;
  }
  #bloc3{
    font-size: 0.9em !important;
  }
  #section_backend{
    padding-bottom: 0.8rem !important;
    padding-top: 0.5rem !important;
  }
  #section_qualite{
    padding-top: 0.5rem !important;
  }
  #section_logiciels{
    padding-top: 0.5rem !important;
  }

}
 }*/